<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{mm:ss.SSS} %-5level [%thread] %class{1} -- %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org" level="INFO" />
  <logger name="com" level="INFO" />
  <logger name="javax" level="INFO" />
  <logger name="reactor" level="DEBUG" />
  <logger name="io" level="DEBUG" />

  <logger name="org.springframework" level="INFO" />
  <logger name="org.springframework.jdbc" level="DEBUG" />
  <logger name="com.pia" level="TRACE" />
  <logger name="org.camunda" level="INFO" />
  <logger name="reactor.netty.http.client" level="DEBUG"/>
  <logger name="org.mockserver" level="DEBUG" />
  <logger name="org.thymeleaf" level="INFO" />
  <logger name="com.pia.solutionhubsecurity.jwt" level="INFO" />
  <logger name="org.hibernate.SQL" level="DEBUG" />
  <!--
  <logger name="org.springframework.transaction" level="TRACE" />
    <Logger name="org.hibernate.engine.transaction" level="TRACE"/>
    <logger name="org.hibernate.type.descriptor.sql" level="INFO" />
  -->

  <root level="TRACE">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
